@font-face {
  font-family: 'Outfit';
    src:url('/public/assets/fonts/Outfit-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Outfit';
    src:url('/public/assets/fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.menu-shadow {
  box-shadow: 0 -8px 0 0 #10212A inset;
}

.btn-primary-shadow {
  box-shadow: 0 -8px 0 0 #CC8B13 inset;
}

.btn-secondary-shadow {
  box-shadow: 0 -8px 0 0 #118C87 inset;
}